.heading{
    text-align: center;
    font-size: larger;
}
#mainHead{
    color: bisque;
}
#todo{
    text-align: center;
}
#intro{
  font-style: italic;
}
#click:hover{
    color: aliceblue;
    background-color: rgb(82, 8, 8);
    transform:scale(1.1) ;
    transition:all 0.3s ease ;
}
body{
    background-color: rgb(23, 23, 57);
}
